#{extends 'main.html' /} 
#{set title:'Tenant Conguration Page' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> 
	<a class="ui active item" href="/tenants/index">Tenant</a> 
		<a class="ui item" href="/tenants/logout">Log Out</a> 
		<a class="ui item" href="/contact">Contact</a>
</nav>
<!-- --------------------------------------------------------------------------------------------- -->
<section class="ui segment">
	<h4>Tenants ConfigurationPage</h4>
	<div class="ui two column grid">

		<!-- ------------------------------------------------------------------------------------------>
		<!--LEFT HAND COLUMN -->
		<div class="column">
			<!--LEFT HAND COLUMN -->
			<!-- EIRCODE(READ-ONLY) of existing rental, if any -->
			<section class="ui segment">
				<div class="ui fluid form segment">
					<h5>Existing rental(eircode)</h5>
					<!-- ternary operator:  condition ? value_if_true : value_if_false-->
					<!-- if the residence is not null (true), then display its eircode, otherwise display nothing  -->
					<!-- useful to terminate the residence as then tenant won't have a residence -->
					<input class="ui field disabled" value="${tenant.residence?.eircode}"
						name="eircode" type="text" size=1>
				</div>
			</section>

			<!-- TERMINATE TENANCY, if it exists -->
			<section class="ui segment">
		
				<h5>Press to end tenancy</h5>
				<form class="ui form" action="/tenants/terminatetenancy" method="POST">
					<div class="ui fluid form segment">
						<button type="submit" class="ui blue fluid submit button">Terminate tenancy</button>
					</div>
				</form>
			</section>
			<!--------------------------------------------------------->
			<!--PULL-DOWN MENU VACANT RESIDENCES: CHANGE TENANCY, if it exists -->
			<section class="ui segment">
				<h5>Select from vacant residences for new rental</h5>
				<form class="ui form" id="changetenancyform" action="/tenants/changetenancy" method="POST"><!-- AJAX  form class="ui form">  -->
					<div class="ui fluid form segment">
					<!-- <div class="ui fluid selection dropdown" id="eircodeResidence"> -->
						<!--  input name must match the name on parameter of changeTenancy method: this how it maps -->
						<div class="ui fluid selection dropdown" id="changetenancy">
							<input name="eircode" type="hidden"> <!--  input name is not eircode_vacancy-->
							<div class="default text">Vacant residences</div>
							<i class="dropdown icon"></i>
							<div class="menu tenant">
							<!--  If tenant exists, property is not vacant. Refers to list in Tenants.index() controller -->
								#{list items:vacantResidences, as:'residence'}
								<!-- refers to List<Residence> vacantResidences in Tenant model -->
								<div class="item" data-value="${residence.eircode}">${residence.eircode}
								</div>
								#{/list}
							</div>
						</div>
					</div>
					<button type="submit" class="ui blue fluid submit button">Change Tenancy</button>
					<div class="ui error message"></div>
				</form>
			</section>
		</div>
				<!-- END FIRST COLUMN -->
			<!-- -------------------------------------------------------------------------------------- -->
<!--  2ND RIGHT HAND COLUMN	-->
		<!--  SEARCH FOR VACANT RESiDENCES USING GOOGLE MAP -->
		<div class="column">
		<!--  links to separate report page -->
			<form action="/searchResults" method="POST">
				<section class="ui segment">
				<!--map_canvas is the id of the element on the canvas on which the map shall be rendered: map container  -->
					<div id="map_canvas" style="height: 400px;"></div>
					<!-- uses AJAX -->
					<!-- submit button which when clicked seeks to invoke a javascript function named requestReportCircle()-->
					<button type="submit" class="ui fluid blue submit button" onclick="requestReportCircle()">Search for vacant
						residences</button>
				</section>
				<!-- display the circle parameters, refers to function requestReportCircle() in reportMapCircle.js -->
				<div style="visibility: hidden" id="circledata">
					<input type="text" id="radius" name="radius"> 
					<input type="text" id="latcenter" name="latcenter"> 
					<input type="text" id="lngcenter" name="lngcenter">
				</div>
			</form>
		</div>
<!-- -------------------------------------------------------------------------------------- -->
	</div>
</section>

<script src="/public/javascripts/rent.js"></script>
<!--JF script: obsolete  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
 <!-- SK new API key: 24/07/2016 Browser key 1: -->
  <!--Doesnt't work  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo3gBcpfr2kfzoBBwMrFZpevt3lFUdank&callback=initMap"async defer></script>-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBo3gBcpfr2kfzoBBwMrFZpevt3lFUdank"></script><!-- W3 schools-->
<!--  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBo3gBcpfr2kfzoBBwMrFZpevt3lFUdank"></script>-->

<script src="/public/javascripts/reportMapCircle.js" charset="utf-8"></script>

