#{extends 'main.html' /} #{set title:'Login' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="/tenants/login">Log In</a> <a class="ui item" href="/contact">Contact</a>
</nav>

<section class="ui segment">

	<div class="column">
		<div class="nested column">
			<div class="ui fluid form segment">
				<form action="/tenants/signup" method="GET">
					<button type="submit" class="ui big green labeled icon button">
						<i class="signup icon"></i> Tenants - sign up here
					</button>
				</form>
			</div>
		</div>
	</div>

	<div class="ui clearing divider"></div>

	<h3>Log into your Tenant account</h3>
	<h5>Your tenantname is the email you registered with</h5>
	<!--  $('.ui.form') looks for any tag with a css style-->
	<form class="ui form" id="tenantLoginForm"
		action="/tenants/authenticate" method="POST">

		<div class="ui two column grid">
			<div class="column">
				<div class="ui fluid form segment">
					<div class="ui left icon input field">
						<input placeholder="Email" name="email" type="text"> <i
							class="tenant icon"></i>
					</div>

					<div class="ui left icon input field">
						<input placeholder="Password" name="password" type="password">
						<i class="lock icon"></i>
					</div>
					<button type="submit" class="ui blue submit button">Tenant
						Login</button>
					<div class="ui error message"></div>
					<!--for semantic UI validation -->
				</div>
			</div>
		</div>
	</form>
</section>
<!-- ---------------------------------------------------------- -->
<!-- Form validation prompts -->
<script src="@{'/public/javascripts/logins.js'}"></script>