#{extends 'main.html' /} #{set title:'Signup' /}

<nav class="ui menu">
	<a class="ui active item" href="/">Welcome</a> 
    <a class="ui item" href="/tenants/signup">Sign Up</a>
    <a class="ui active item" href="/tenants/login">Log In</a>
	<a class="ui item" href="/inputdata">Input data</a> 
	<a class="ui item" href="/report">Report</a> 
	<a class="ui item" href="/contact">Contact</a>
	<a class="ui item" href="/tenants/logout">Log Out</a>
</nav>

<section class="ui segment">
	<h3>Create a MyRent Tenant account</h3>
	<h5>Register using a valid email address</h5>
	<form class="ui form" id="tenantSignUpForm" action="/tenants/register" method="POST">
	
		<div class="ui two column grid">
			<div class="column">
				<div class="ui fluid form segment">
					<div class="two fields">
						<div class="field">
							<input placeholder="First Name" name="tenant.firstName" type="text">
						</div>
						<div class="field">
							<input placeholder="Last Name" name="tenant.lastName" type="text">
						</div>
					</div>
					
					<div class="ui left icon input field">
						<input placeholder="Email" name="tenant.email" type="text"> <i
							class="tenant icon"></i>
					</div>
					<div class="ui left icon input field">
						<input placeholder="Password" name="tenant.password" type="password">
						<i class="lock icon"></i>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input id="conditions" type="checkbox"> <label
								for="conditions">I agree to the terms and conditions</label>
						</div>
					</div>
					<button type="submit" class="ui blue submit button">Submit</button>
						<div class="ui error message"></div> <!--for semantic UI validation -->
				</div>
			</div>
		</div>
	</form>
</section>
<!-- ---------------------------------------------------------- -->
 <!-- Form validation prompts -->
  <script src="@{'/public/javascripts/signup_Tenant.js'}"></script>