 #{extends 'main.html' /} 
 #{set title:'searchReport' /}

<nav class="ui menu">
	<a class="ui item" href="/">Home</a> 
	<a class="ui item" href="/tenants/index">Tenant</a> 
		<a class="ui active item" href="/search/report">Search report</a> 
		<a class="ui item" href="/contact">Contact</a> 
		<a class="ui item" href="/tenants/logout">Logout</a>
</nav>


<section class="ui segment">
	<h4>Vacant residences</h4>

	<!-- tenant and Map /Circle size & coordinates reference -->
	<section class="ui segment">
		<table class="ui table segment">
			<thead>
				<tr>
					<th>Tenant</th>
					<th>Search: radius(m)</th>
					<th>centre(latitude)</th>
					<th>centre(longitude)</th>
				</tr>
			</thead>

			<tbody>
				<!-- The map enclosing circle values -->
				<!-- no need to loop -->
	<tr>
					<td>${tenant.firstName}&nbsp;${tenant.lastName}</td>
					<th>${circle.radius}</th>
					<th>${circle.latcenter}</th>
					<th>${circle.lngcenter}</tdh>
				</tr>
			</tbody>
		</table>

		<table class="ui eight column celled table segment">
			<thead>
				<tr>
					<th>Eircode</th>
					<th>Date registered</th>
					<th>Rent(&euro;)</th>
					<th>Bedrooms</th>
					<th>Bathrooms</th>
					<th>Area (m<sup>2</sup>)</th>
			</thead>
			<tbody>
			<!-- refers to list in vacantresidences() method in Tenants controller -->
				#{list items: residences, as: 'residence'}
				<tr>
					<td>${residence.eircode}</td>
					<td>${residence.dateRegistered.format('dd MMMM yyyy', 'en')}</td>
					<td>${residence.rent}</td>
					<td>${residence.numberBedrooms}</td>
					<td>${residence.numberBathrooms}</td>
					<td>${residence.area}</td>

				</tr>
				#{/list}
			</tbody>
		</table>
	</section>
</section>
