#{extends 'main.html' /} 
#{set title:'Administrator Piechart' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui item"
		href="/administrators/index">Administrator</a> <a class="ui item"
		href="/AdminReports/report">Reports</a> <a class="ui active item"
		href="/AdminCharts/piechart">Charts</a>
</nav>

<!-- ADMINISTRATORS TABLE REPORT fOR PIECHART -->
<section class="ui segment">
	<div class="ui two column grid">
		<div class="column">
			<div class="ui segment">
				<h4>List rents</h4>
				<table class="ui table segment">
					<thead>
						<tr>
							<th>Landlord</th>
							<th>Eircode</th>
							<th>Rent</th>
						</tr>
					</thead>

					<tbody>
						<!-- refers to list residences in Administrators controller -->
						#{list items: residences, as: 'residence'}
						<tr>
							<td>${residence.landlord}</td>
							<td>${residence.eircode}</td>
							<td>${residence.rent}</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<div id="chartContainer" style="width: 100%; height: 300px"></div>
			</div>
		</div>
	</div>
</section>
<!-- --------------------------------------------------------------------------- -->
<script src="/public/javascripts/piechart.js" charset="utf-8"></script>
<script src="/public/javascripts/jquery.canvasjs.min.js" charset="utf-8"></script>




