 /*
 * # Semantic UI - 1.10.0
 * https://github.com/Semantic-Org/Semantic-UI
 * http://www.semantic-ui.com/
 *
 * Copyright 2014 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */



/*******************************
            Dimmer
*******************************/

.dimmable {
  position: relative;
}
.ui.dimmer {
  display: none;
  position: absolute;
  top: 0em !important;
  left: 0em !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  line-height: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-transition: background-color 0.5s linear;
          transition: background-color 0.5s linear;
  -webkit-landlord-select: none;
     -moz-landlord-select: none;
      -ms-landlord-select: none;
          landlord-select: none;
  will-change: opacity;
  z-index: 1000;
}

/* Dimmer Content */
.ui.dimmer > .content {
  width: 100%;
  height: 100%;
  display: table;
  -webkit-landlord-select: text;
     -moz-landlord-select: text;
      -ms-landlord-select: text;
          landlord-select: text;
}
.ui.dimmer > .content > div {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
}

/* Loose Coupling */
.ui.segment > .ui.dimmer {
  border-radius: inherit !important;
}


/*******************************
            States
*******************************/

.animating.dimmable:not(body),
.dimmed.dimmable:not(body) {
  overflow: hidden;
}
.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: block;
  opacity: 1;
}
.ui.disabled.dimmer {
  width: 0 !important;
  height: 0 !important;
}


/*******************************
           Variations
*******************************/


/*--------------
      Page
---------------*/

.ui.page.dimmer {
  position: fixed;
  -webkit-transform-style: '';
          transform-style: '';
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
body.animating.in.dimmable,
body.dimmed.dimmable {
  overflow: hidden;
}
body.dimmable > .dimmer {
  position: fixed;
}
/*
body.dimmable > :not(.dimmer) {
  filter: @elementStartFilter;
}
body.dimmed.dimmable > :not(.dimmer) {
  filter: @elementEndFilter;
  transition: @elementTransition;
}
*/

/*--------------
    Aligned
---------------*/

.ui.dimmer > .top.aligned.content > * {
  vertical-align: top;
}
.ui.dimmer > .bottom.aligned.content > * {
  vertical-align: bottom;
}

/*--------------
    Inverted
---------------*/

.ui.inverted.dimmer {
  background: rgba(255, 255, 255, 0.85);
}
.ui.inverted.dimmer > .content > * {
  color: #ffffff;
}

/*--------------
     Simple
---------------*/


/* Displays without javascript */
.ui.simple.dimmer {
  display: block;
  overflow: hidden;
  opacity: 1;
  width: 0%;
  height: 0%;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0);
}
.dimmed.dimmable > .ui.simple.dimmer {
  overflow: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}
.ui.simple.inverted.dimmer {
  background: rgba(255, 255, 255, 0);
}
.dimmed.dimmable > .ui.simple.inverted.dimmer {
  background: rgba(255, 255, 255, 0.85);
}


/*******************************
         Theme Overrides
*******************************/



/*******************************
        landlord Overrides
*******************************/

