 #{extends 'main.html' /} 
 #{set title:'generateReport' /}

<nav class="ui menu">
	<a class="item" href="/landlords/profile"> Back </a>
</nav>


<section class="ui segment">
	<h4>Report</h4>

	<!-- landlord and Map /Circle size & coordinates reference -->
	<section class="ui segment">
		<table class="ui table segment">
			<thead>
				<tr>
					<th>Commissioned by</th>
					<th>Search: radius(m)</th>
					<th>centre(latitude)</th>
					<th>centre(longitude)</tdh>
				</tr>
			</thead>

			<tbody>
				<!-- The map enclosing circle values -->
				<!-- no need to loop -->
				<tr>
					<td>${landlord.firstName}&nbsp;${landlord.lastName}</td>
					<td>${circle.radius}</td>
					<td>${circle.latcenter}</td>
					<td>${circle.lngcenter}</td>
				</tr>
			</tbody>
		</table>

		<!-- List of Residences -->
		<table class="ui eight column celled table segment">
			<thead>
				<tr>
					<th>Residence Id</th>
					<th>Residence landlord</th>
					<th>Date registered</th>
					<th>Rent(&euro;)</th>
					<th>Bedrooms</th>
					<th>Bathrooms</th>
					<th>Floor Area(sq.m.)</th>
					<th>Eircode</th>
					<th>Residence Tenant</th>
			</thead>

			<tbody>
			<!-- refers to public List<Residence> residences = new ArrayList<Residence>(); in Landlords model-->
				#{list items: residences, as: 'residence'} 
				<tr>
					<td>${residence.id}</td>
					<!-- the landlord by whom residence signed up by -->
					<td>${residence.landlord.firstName}&nbsp;${residence.landlord.lastName}</td>
					<td>${residence.dateRegistered.format('dd MMMM yyyy', 'en')}</td>
					<td>${residence.rent}</td>
					<td>${residence.numberBedrooms}</td>
					<td>${residence.numberBathrooms}</td>
					<td>${residence.area}</td>
					<td>${residence.eircode}</td>
					<td>${residence.tenant}</td>
				</tr>
				#{/list}
			</tbody>

			<!-- Note: if list had contained {landlord}, it would be necessary to override 
		toString in landlord model.  Otherwise, this would otherwise output landlord[1}.
		Needed for area..?????] -->
		</table>
	</section>
</section>
