#{extends 'main.html' /} 
#{set title:'InputData' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="/inputdata">Input data</a> <a class="ui item"
		href="/landlords/index">Landlord</a>
	<!-- Landlord Config page -->
	<a class="ui item" href="/report">Report</a>
	<!-- left in temporarily -->
</nav>


<section class="ui segment">
	<!--References the InputData controller method 'capture' -->
	<form class="ui form" action="/datacapture" method="POST">
		<!-- REPLACE ABOVE WITH THIS FOR AJAX <form class="ui form"> -->
		<p>Please input residence data</p>

		<div class="ui two column grid">
			<!-- OVERALL PAGE 2 COLUMNS -->
			<!-- ================================================================== -->
			<!-- FIRST COLUMN -->
			<div class="column">

				<div class="ui two column grid">
					<div class="column">
						<!-- Geolocation -->
						<div class="ui fluid form segment">
							<label>Location </label>
							<div class="ui input">
								<input id="geolocation" value="53.347298, -6.268344"
									name="geolocation" type="text" readonly>
							</div>
						</div>
					</div>

					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Eircode:</div>
								<input value="R03G8H4" name="eircode" type="text" size=1>
							</div>
						</div>
					</div>
				</div>

				<!--   Residence rented or vacant? REMOVE: STORY 8 -->

				<!--   The monthly rent  -->
				<div class="ui two column grid">
					<!-- ROW WITHIN THE FIRST COLUMN -->
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Monthly Rent (&euro;)</div>
								<input value="1500" name="rent" type="text" size="1">
							</div>
						</div>
					</div>

					<!--   The number of bedrooms  -->
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Bedrooms:</div>
								<input value="3" name="numberBedrooms" type="text" size=1>
							</div>
						</div>
					</div>
				</div>

				<!--   The number of bathrooms -->
				<div class="ui two column grid">
					<!-- ROW WITHIN THE FIRST COLUMN -->
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Bathrooms:</div>
								<input value="2" name="numberBathrooms" type="text" size=1>
							</div>
						</div>
					</div>

					<!--   Floor area in sq.m.  -->
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Floor Area(sq.m.):</div>
								<input value="150" name="area" type="text" size=1>
							</div>
						</div>
					</div>
				</div>

				<div class="ui two column grid">
					<!--   The residence type  -->
					<div class="column">
						<div class="ui form segment">
							<div class="ui selection dropdown">
								<input name="residenceType" type="hidden">
								<div class="text">Residence type</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value="flat">Apartment|Flat</div>
									<div class="item" data-value="studio">Studio</div>
									<div class="item" data-value="house">House</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 				<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Tenant:</div>
								<input value="Mary Murphy" name="tenant" type="text" size=1>
							</div>
						</div>
					</div> -->
				</div>
				<!--   Submit form button  -->
				<div class="form-actions">
					<!-- AJAX CODE IF PROCEEDING: -->
					<!--<div class="ui fluid form segment"> -->
					<!--  <div id="notification"></div>-->
					<!--  </div>-->
					<br>
					<button class="ui blue submit button">
						Submit Data <i class="add icon"></i>
					</button>
					<div class="ui error message"></div> <!-- semantic ui validation -->
				</div>
			</div>

			<!-- end first column -->
			<!-- ================================================================================================= -->
			<!--  2ND COLUMN-->
			<!-- The map representing residence location -->
			<div class="column">
				<div class="ui raised fluid form segment">
					<div id="map_canvas" style="width: 100%; height: 300px; border: 0'"></div>
				</div>

				<!-- Eircode finder -->
				<div class="ui raised fluid form segment"><div>
						<iframe src="https://finder.eircode.ie/#/map" width="100%" height="300px"></iframe>
					</div>
				</div>
				<!-- End 2nd column -->
			<!-- End two-column grid-->
	</form>
</section>

<!-- =================================================================================================================== -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBo3gBcpfr2kfzoBBwMrFZpevt3lFUdank"></script><!-- Google maps key; use by W3 schools-->
<!-- <script src="js/jquery-2.0.0.js"></script>  -->
<!-- <script src="/public/javascripts/map.js" type="text/javascript" charset="utf-8"></script> -->
<script src="/public/javascripts/inputdata.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/inputdata_map.js" charset="utf-8"></script>





<!-- ================================================================== -->



