#{extends 'main.html' /} 
#{set title:'Administration Page' /}
  
   <nav class="ui menu">
    <a class="ui item" href="/">Welcome</a>
    <a class="ui active item" href="/administrators/index">Administrator</a>
    <a class="ui item" href="/AdminReports/report">Reports</a> 
    <a class="ui item" href="/AdminCharts/piechart">Charts</a> 
    <a class="ui item" href="/contact">Contact</a>
    <a class="ui item" href="/administrators/logout">Log out</a>
  </nav>

<section class="ui segment">   
      <h3>Administration page</h3>
      <h5>Register Landlords and Tenants</h5>  
    <div class="ui two column grid">
<!-- ---------------------------------------------------------------------------------------- -->
<!-- COLUMN 1 -->      
      <div class="column">

<!-- REGISTER LANDLORD -->             
       <form action="/landlords/signup" method="GET">
        <div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Register landlord</button>
        </div>
      </form>
<!-- ---------------------------------------------------------------------------------------- -->
<!-- REGISTER TENANT -->   
       <form action="/tenants/signup" method="GET">
        <div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Register tenant</button>
        </div>
      </form>
 <!-- ---------------------------------------------------------------------------------------- -->
<!-- DELETE LANDLORD: DROPDOWN MENU -->     
     <form class="ui form segment landlord"  action="/administrators/deletelandlord" method="POST">
        <div class="ui fluid selection dropdown landlord" id="deletelandlord">
        	<!-- input name must match the name on parameter of deleteResidence method: this how it maps-->
         <!-- AJAX <input name="email_landlord" type="hidden" id="form_delete_landlord">-->
          <input name="email" type="hidden" id="form_deletelandlord"> <!-- input name is not email_landlord-->
          <div class="default text">Select landlord to delete</div>
          <i class="dropdown icon"></i>
          <div class="menu landlord">
          #{list items:landlords, as:'landlord'} <!-- refers to Adminstrators.index() list of landlords -->
                        <div class="item landlord" data-value="${landlord.email}">${landlord.email}</div>
                   #{/list}           
                      </div>
        </div>
        
<!--         ??????????????????????????????SEMANTIC VALIDATION??????????????????????:
        <div class="ui fluid form segment">
          <div id="notificationLandlord"></div>
        </div> -->
   
        <div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Delete landlord</button>
          <div class="ui error message"></div><!-- semantic UI validation -->          
        </div>
      </form>
  <!-- ---------------------------------------------------------------------------------------- -->    
  <!-- DELETE TENANT: DROPDOWN MENU -->  
     <form class="ui form segment tenant"  action="/administrators/deletetenant" method="POST">
        <div class="ui fluid selection dropdown tenant" id="deletetenant">
      <!-- input name must match the name on parameter of deleteResidence method: this how it maps-->
          <input name="email" type="hidden">
          <!-- AJAX <input name="email_tenant" type="hidden" id="form_delete_tenant">-->
          <div class="default text">Select tenant to delete</div>
          <i class="dropdown icon"></i>
          <div class="menu tenant">
                    #{list items:tenants, as:'tenant'} <!-- DRAFT -->
                        <div class="item tenant" data-value="${tenant.email}">${tenant.email}</div>
                     #{/list}   
                      </div>
        </div>
<!--         ??????????????????????????????SEMANTIC VALIDATION??????????????????????: 
        <div class="ui fluid form segment">
          <div id="notificationTenant"></div>
        </div> -->
        
        <div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Delete tenant</button>
          <div class="ui error message"></div> 
        </div>
      </form>
         
      </div><!-- END 1ST COLUMN-->
<!-- ---------------------------------------------------------------------------------------- --> 
  <!-- COLUMN 2 -->      
      <div class="column">
 
      <!-- The map representing residence locations -->
        <div class="ui fluid form segment">
        <div class="column">
          <h4>Markers represent residence locations</h4> 
          <h5>Single click on marker to read eircode and tenant</h5>
          <div id="map" style="width:500px; height:460px;"></div>  
        </div> 
      </div>
    </div><!-- END 2NDCOLUMN-->
  <!-- ---------------------------------------------------------------------------------------------- -->      
</section>

<!--JF script: <script src="http://maps.googleapis.com/maps/api/js"></script> -->
<!-- SK new Browser key 2 25/07/2016 : -->
 <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAkhWZdgbWzG-NJIGn81B1kAHnJv290GBQ"></script><!-- W3 schools-->
<!-- marker geolocations --><script src="/public/javascripts/administrator_map.js"></script>   
<!-- deleteLandlord and deleteTenant dropdowns--><script src="/public/javascripts/administrators.js"></script>         
