#{extends 'main.html' /} 
#{set title:'Administrator Login' /}

<nav class="ui menu">
  <a class="ui item" href="/">Welcome</a>
  <a class="ui active item" href="/administrators/login">Log in</a>
  <a class="ui item" href="/contact">Contact</a>  
</nav>

 <section class="ui segment">
  <h3>Log into your administrator account</h3>
 <!--  $('.ui.form') looks for any tag with a css style-->
  <form class="ui form" id="administratorloginForm" form action="/administrators/authenticate" method="POST">
    <div class="ui two column grid">
    <!-- ---------------------------------------------------------- -->
    <div class="column">
      <div class="ui fluid form segment">
        <h3 class="ui header">Log-in</h3>
        
        <div class="field">
          <label>Email</label>
          <input placeholder="Email" name="email" type="text">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password">
        </div>
        
        <button type="submit" class="ui blue submit button">Login</button>
            <div class="ui error message"></div> <!--for semantic UI validation -->
      </div>
    </div>
    </div>
  </form>
    <!--  </form> -->
</section> 
    <!-- ---------------------------------------------------------- -->
 <!-- Form validation prompts -->
  <script src="@{'/public/javascripts/logins.js'}"></script>