#{extends 'main.html' /}
#{set title:'Contact' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> 
	<a class="ui item" href="/landlords/login">Landlord</a>
	<a class="ui item" href="/tenants/login">Tenant</a>
	<a class="ui active active item" href="/contact">Contact</a>
</nav>

<section class="ui segment">      
  <h5>We would very much appreciate if you would provide some feedback.</h5>
	<form class="ui form" id="contact" action="/contact/sendmessage" method="POST">
    <div class="ui input field">
    <!-- Passing in landlord object landlord.firstName, so message will be associated with the landlord object -->
		  <input placeholder="Your first name" name="landlord.firstName" type="text">
    </div>
	  <div class="ui input field">
		  <input placeholder="Your last name" name="landlord.lastName" type="text">
    </div>
    
    <div class="ui divider"></div>
    
    <!-- Passing in landlord object -->
	    <div class="ui left icon input">
	      <input placeholder="Your email address" name="landlord.email" type="text" size="30">
	      <i class="landlord icon"></i>
	    </div>
	    
    <div class="ui divider"></div>
    
		<div class="ui form">
		  <div class="field">
		    <textarea placeholder="Your message" name="messageTxt"></textarea>
		  </div>
		</div> 
    <div class="ui divider"></div>
   
     <button type="submit" class="ui blue submit button">Send Message</button>
     	<div class="ui error message"></div> <!--for semantic UI validation -->	
       
     <!-- Alt: invokes javascript sendMessage function??? NO, not the way to carry out-->
      <!--  <button type="submit" class="ui blue submit button" onclick="sendMessage()??????">Send Message</button>	-->
     <!--  <script src="public/javascripts/sendMessage.js"></script> -->
  </form>
</section>
<!-- ---------------------------------------------------------- -->
 <!-- Form validation prompts -->
  <script src="@{'/public/javascripts/contact.js'}"></script>