#{extends 'main.html' /} #{set title:'Landlord Edit Residence' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> 
	<a class="ui item" href="/landlords/index">Landlord</a><!-- Landlord Config page -->
	<a class="ui item" href="/contact">Contact</a> 
	<a class="ui item" href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">
	<form class="ui form" action="/landlords/updateResidence" method="POST>">
		<h4>Please update residence data</h4>
			
			<div class="ui two column grid"><!-- 2 COLUMNS WITHIN THIS GRID -->

				<!--Eircode-->
				<div class="column">
					<div class="ui form segment">
						<div class="ui fluid labeled input">
							<div class="ui label">Eircode</div>
							<input class="ui field disabled" value="${residence.eircode}"
								name="eircode" type="text" size=1>
						</div>
					</div>
				</div>

				<!--Monthly Rent-->
				<div class="column">
					<div class="ui form segment">
						<div class="ui fluid labeled input">
							<div class="ui label">Monthly Rent (&euro;)</div>
							<input value="${residence.rent}" name="rent" type="text" size="1">
						</div>
					</div>
				</div>

				<div class="form-actions">
					<button class="ui blue submit button">Update Data </button>
					<div class="ui error message"></div>
				</div>
			</div><!-- 2 COLUMNS WITHIN THIS GRID -->
			<br>
	</form>
</section>