#{extends 'main.html' /} 
#{set title:'editProfile for ${landlord.firstName} ${landlord.lastName}' /}

<nav class="ui menu">
	<a class="item" href="/landlords/profile"> Back </a>
</nav>

<section class="ui fluid form segment">
	<h2 class="ui header">${landlord.firstName} ${landlord.lastName}'s Profile</h2>

	<div class="ui fluid form segment">
		<div class="ui one column grid"></div>
			<h3 class="about">About:</h3>
			<form class="ui form" id="editProfileForm" action="/landlords/changeprofile" method="POST">

<!--  Note: these values are previously passed in , for edit now -->
	<div class="two fields">
		<div class="field">
			<label>First Name</label> 
			<input value="${landlord.firstName}" name="firstName" type="text">
		</div>
		<div class="field">
			<label>Last Name</label> 
			<input value="${landlord.lastName}" name="lastName" type="text">
		</div>
	</div>

	<div class="two fields">
		<div class="field">
			<label>Email address:</label>
			<input value="${landlord.email}" name="email" type="text">
		</div>
		<div class="field">
			<label>Password:</label> 
			<input value="${landlord.password}" name="password" type="password">
		</div>
	</div>
<!-- ===================================================================================== -->
<!--  WHEREAS: these are new inputs (placeholders) as POSSIBLY NOT previously passed in -->
<!-- Signup uses name="landlord.firstName"; Login uses name="email" -->
<!-- WE ARE ANALGOUS TO LOGIN HERE...???? -->
	<div class="two fields">
		<div class="field">
			<label>Address Line 1</label> 
			<input value="${landlord.address1}" name="address1" type="text">
		</div>			
		<div class="field">
			<label>Address Line 2</label> 
			<input value="${landlord.address2}" name="address2" type="text">
		</div>
	</div>

	<div class="two fields">
		<div class="field">
			<label>City</label> 
			<input value="${landlord.city}" name="city" type="text"></div> <!-- works perfectly for preloaded values -->
			
			<div class="field">
				<label>County</label> 
				<input value="${landlord.county}" name="county" type="text">
			</div>
			
			
		</div>

		<div class="two fields">
			<div class="field">
				<label>Postcode</label> 
				<input value="${landlord.postcode}" name="postcode" type="text">
			</div>
		</div>

	<button class="ui blue submit button">Submit New Landlord Details</button>


<input type="button" class="ui blue submit button" value="Cancel"
	onClick="history.go(-1);return true;"></input>
	<div class="ui error message"></div> <!--for semantic UI validation -->
	</div>
</form>
</section>

    <!-- ---------------------------------------------------------- -->
 <!-- Form validation prompts -->
  <script src="@{'/public/javascripts/editProfile_Landlord.js'}"></script>