#{extends 'main.html' /} 
#{set title:'Landlord Conguration Page' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> 
	<a class="ui active item" href="/landlords/index">Landlord</a> 
	<a class="ui item" href="/report">Report</a>
	<a class="ui item" href="/landlords/logout">Log Out</a> 
	<a class="ui item" href="/contact">Contact</a>

</nav>

<section class="ui segment">
<h4>Landlord configuration page</h4>
	<div class="ui two column grid">
	
	<!--LEFT HAND COLUMN -->
		<!-- --------------------------------------------------------------------------------------------- -->
		<div class="column">
	<!-- ADD RESIDENCE- STORY 6: switches to Input Data page (existing)-->
			<form action="/landlords/addresidence" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid   blue submit button">Add
						Residence</button>
				</div>
			</form>

			<!-- --------------------------------------------------------------------------------------------- -->
			<!--PULL-DOWN MENU: DELETE RESIDENCE -->
			<!-- implement in Story 7 -->
			<form class="ui form segment" name="deleteresidenceform" action="/landlords/deleteresidence" method="POST">
				<div class="ui fluid selection dropdown" id="deleteresidence">
				<!-- input name must match the name on parameter of deleteResidence method: this how it maps-->
					<input name="eircode" type="hidden"> <!-- input name is not eircode_delete -->
					<div class="default text">Select residence to delete</div> <!--  NOT RENDERING THIS TEXT CONSISTENTLY???? -->
					<i class="dropdown icon"></i> 
					<div class="menu">
					<!-- refers to List<Residence> residences; in Landlord model: -->
						#{list items:landlord.residences, as:'residence'} 
							<div class="item" data-value="${residence.eircode}">${residence.eircode}
							</div>
						#{/list}
					</div>
				</div>
				
		<div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Delete residence</button>
        </div>
        <div class="ui error message"></div> <!-- semantic ui validation -->
			</form>

		</div> <!-- closing column -->

		<!--RIGHT HAND COLUMN -->
		<!-- --------------------------------------------------------------------------------------------- -->
		<div class="column">
		<!--LINK: EDIT LANDLORD PROFILE- STORY 6: switches to Edit Profilepage (existing)-->
			<form action="/landlords/editprofile" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid  blue submit button">Edit
						Landlord Profile</button>
				</div>
			</form>
			
			<!-- --------------------------------------------------------------------------------------------- -->
			<!-- PULL-DOWN MENU: EDIT RESIDENCE -->
			<form class="ui form segment" name="editresidenceform" action="/landlords/editresidence" method="POST">
			<!--  form class="ui form segment" name="editresidenceform" action="/landlords/editresidence" method="POST">-->
				<div class="ui fluid selection dropdown" id="editresidence" >
				<!-- input name must match the name on parameter of  editResidence method: this how it maps-->
					<input name="eircode" type="hidden"> <!-- input name is not eircode_edit -->
					<div class="default text">Edit Residence</div>
					<i class="dropdown icon"></i>
					<div class="menu">
			<!-- TO DO -->
						#{list items:landlord.residences, as:'residence'}
							<div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
						#{/list}
					</div>
				</div>
				
        <div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Edit residence</button>
        </div>	
        <!--  to disallow an attempt to edit residence without making a selection in the dropdown menu -->
        <div class="ui error message"></div> <!-- semantic ui validation -->							
			</form>

		</div>
	</div>
</section>
	<!-- --------------------------------------------------------------------------------------------- -->
<script src="/public/javascripts/landlord.js"></script>


