#{extends 'main.html' /} 
#{set title:'Landlord Signup' /}

<nav class="ui menu">
	<a class="ui item" href="/">Welcome</a> 
	<a class="ui active item" href="/landlords/signup">Sign Up</a> 
	<a class="ui item" href="/landlords/login">Log In</a> 
    <a class="ui item" href="/contact">Contact</a>
</nav>

<section class="ui segment">
	<h3>Create a MyRent Landlord account</h3>
	<h5>Register using a valid email address</h5>
	
	<!-- a class selector could be used instead of an id(reason: to differentiate between 
two dropdowns on same page, or in this instance to distinguish landlord signup from tenant signup 
with different name parameters)  -->
	<form class="ui form" id="landlordSignUpForm" action="/landlords/register" method="POST">
	
		<div class="ui two column grid">
			<div class="column">
				<div class="ui fluid form segment"> <!-- class selector again -->
					<div class="two fields">
						<div class="field">
							<input placeholder="First Name" name="landlord.firstName" type="text">
						</div>
						<div class="field">
							<input placeholder="Last Name" name="landlord.lastName" type="text">
						</div>
					</div>
					
					<div class="ui left icon input field">
						<input placeholder="Email" name="landlord.email" type="text"> <i
							class="landlord icon"></i>
					</div>
					<div class="ui left icon input field">
						<input placeholder="Password" name="landlord.password" type="password">
						<i class="lock icon"></i>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input id="conditions" type="checkbox"> <label
								for="conditions">I agree to the terms and conditions</label>
						</div>
					</div>
					<button type="submit" class="ui blue submit button">Submit</button>
					  <div class="ui error message"></div> <!--for semantic UI validation -->
				</div>
			</div>
		</div>
	</form>
</section>
    <!-- ---------------------------------------------------------- -->
 <!-- Form validation prompts -->
  <script src="@{'/public/javascripts/signup_Landlord.js'}"></script>